/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 30px 0; /* Place content 60px from the top */
}

/* The navigation menu close link */
.sidenav a, .sidenav img {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* The navigation title menu */
.sidenav h2 {
    color: #ffffff;
    font-family: Arial;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    padding: 20px;
    text-align: center;
    margin-left: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* Main title */
h1 {
    text-align: center;
    font-family: "Courier New";
    color: #e98000;
}

/* Add pointer on image */
.cat-small {
    cursor: pointer;
    width: 200px;
}

.cat-big {
    cursor: pointer;
}


/* Cats Title*/
.cats-name {
    color: #e98000;
    font-family: Arial;
    font-size: 2em;
}


/* Cats Counter*/
.cat-counter {
    font-size: 2em;
    text-align: center;
    font-family: "Courier New";
    margin-top: 1.5%;
}

