h1 {
    text-align: center;
    font-family: "Courier New";
    color: #e98000;
}

#desc {
    font-style: italic;
    text-align: center;
    font-size: 1em;
    color: #b2b2b2;
}
.cat-img {
    cursor: pointer;
}

.cats-name {
    color: #e98000;
    font-family: Arial;
    font-size: 2em;
}

.cat-counter {
    font-size: 2em;
    text-align: center;
    font-family: "Courier New";
    margin-top: 1.5%;
}